
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong</title>
	{% load static %}
    <link rel="stylesheet"  href="{% static 'css/base/base.css' %}">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<header>
		<div class="logo">
			<h1>42</h1>
		</div>
		<div class="rest-header">
			<div class="icons">
				<i class='bx bx-search-alt-2' id="search-icon"></i>
				<i class='bx bx-menu' id="menu-icon"></i>
			</div>
			<form class="search-form" method="get">
				<input type="search" name="query" id="search-box" placeholder="search a user">
			</form>
			<div id="search-results" class="search-results">
			</div> 
			<nav class="navbar">
				<ul>
					<a href="#notif">
						<i class='bx bx-bell' ></i>
					</a>
					<a href="#name"> egrevess </a>
				</ul>
			</nav>
	</div>
	</header>
		<nav class="navbar-left">
			<ul class="element">
				<li><a href="#" data-link>
					<i class='bx bxs-message'></i>
				</a></li>
				<li> <a href="{% url 'tournament:tournement' %}" data-link >
					<i class='bx bx-group'></i>
				</a></li>
				<li> <a href="#">

				</a></li>
				<li> <a href="#">
				</a></li>
			</ul>
		</nav>
			{% load static %}
			{% block content %}
			{% endblock %}
<footer>
	<p>© 2024 Pong Em-Vic - Tous droits réservés</p></footer>
	
</body>

<!--BASE HTML -->
<script >
	let navbar = document.querySelector('.navbar');

	document.querySelector('#menu-icon').onclick= () => {
		navbar.classList.toggle('active');
		searchForm.classList.remove('active');
		if (searchForm.classList.contains('modif')) {
			searchForm.classList.remove('modif');
		}
		if ($('#search-results').hasClass('active')) {
			$('#search-results').removeClass('active');
		}
	}

	let searchForm = document.querySelector('.search-form');

	document.querySelector('#search-icon').onclick= () => {
		searchForm.classList.toggle('active');
		navbar.classList.remove('active');
	}

	window.onscroll = () => {
		navbar.classList.remove('active');
		searchForm.classList.remove('active');
		if (searchForm.classList.contains('modif')) {
			searchForm.classList.remove('modif');
		}
		if ($('#search-results').hasClass('active')) {
			$('#search-results').removeClass('active');
		}
		
	}
</script>

<script type="module" src="../../static/js/module.js"></script>

</html> 